@import 'functions';

.avatar {
    width: rem(50);
    height: rem(50);
    border-radius: 50%;
    object-fit: cover;
    margin-right: rem(16);
}

.item {
    background: white;
    margin: rem(8) 0;
    display: flex;
    align-items: flex-start;
    padding: rem(16);
    border-radius: rem(8);

    &__meta {
        color: $color--muted;
        font-size: rem(12);
    }

    a {
        display: block;
        margin-bottom: rem(8);
        color: $color--accent;
        text-decoration: underline;
        font-weight: 600;
    }
}