@import 'functions';

.avatar {
    width: rem(50);
    height: rem(50);
    border-radius: 50%;
    object-fit: cover;
    margin-right: rem(16);
}

.item {
    background: white;
    margin: rem(8) 0;
    display: flex;
    align-items: flex-start;
    padding: rem(16);
    border-radius: rem(8);

    &__meta {
        color: $color--muted;
        font-size: rem(12);
    }

    a {
        display: block;
        margin-bottom: rem(8);
        color: $color--accent;
        text-decoration: underline;
        font-weight: 600;
    }
}

.no-results {
    background: white;
    color: $color--muted;
    fill: $color--muted;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: 600;
    font-size: rem(14);
    margin: rem(32) 0;
    padding: rem(24);
    border-radius: rem(8);

    &__headline {
        display: flex;
        align-items: center;
    }

    ghs-icon {
        margin-right: rem(16);
    }

    ul {
        list-style: disc;
        padding: rem(16) rem(48) rem(16);
    }

    &--errors {
        border: 1px solid $color--error;
        .no-results__headline {
            color: $color--error;
            fill: $color--error;
        }
    }
}