@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-VF.woff2') format('woff2-variations');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Italic-VF.woff2') format('woff2-variations');
    font-style: italic;
}