<form [formGroup]="form">
    <fieldset>
        <legend>Advanced Search Parameters</legend>
        <div>
            <label for="type">Account type</label>
            <select id="type"
                    formControlName="accountType">
                <option value="all">User or organization</option>
                <option value="user">User</option>
                <option value="org">Organization</option>
            </select>
        </div>

        <div>
            <label for="type">Search in</label>
            <select id="type"
                    multiple
                    formControlName="containedIn">
                <option value="user"
                        selected>Username</option>
                <option value="email"
                        selected>Email</option>
                <option value="name">User's real name</option>
            </select>

            <input type="checkbox"
                   id="exact"
                   formControlName="exactMatch"> <label for="exact">Exact match</label>
            <select formControlName="exactMatchField">
                <option value="user">Username</option>
                <option value="org">Organization</option>
                <option value="fullname">Users's full name</option>
            </select>
        </div>

        <div *ngFor="let control of activeControls">

            <ng-container *ngIf="control.hasQualifier"
                          [formGroupName]="control.key">
                <label [attr.for]="control.key">{{ control.label }}</label>
                <select formControlName="qualifier">
                    <option value="=">=</option>
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="<">&lt;</option>
                    <option value="<=">&lt;=</option>
                    <option value="range">Range</option>
                </select>
                <input type="{{ control.type }}"
                       [attr.id]="control.key"
                       formControlName="valueStart">
                <ng-container *ngIf="form.get(control.key + '.qualifier')?.value === 'range'">
                    to
                    <input type="{{ control.type }}"
                           formControlName="valueEnd">
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!control.hasQualifier">
                <label [attr.for]="control.key">{{ control.label }}</label>
                <input type="{{ control.type }}"
                       [attr.id]="control.key"
                       [formControlName]="control.key">
            </ng-container>

            <button (click)="deactivateControl(control)">remove</button>
        </div>

        <ng-template></ng-template>

        <button #button
                type="button"
                (click)="triggerMenu(button, criteriaMenu)">Add more search criteria</button>
        <ng-template #criteriaMenu>
            <ul>
                <li *ngFor="let ctrl of inactiveControls">
                    <button (click)="activateControl(ctrl)">{{ ctrl.label }}</button>
                </li>
            </ul>
        </ng-template>
    </fieldset>
</form>