<img class="logo"
     src="assets/logo.svg">

<div class="search-form">
     <input type="text"
            class="search-form__input"
            placeholder="Search GitHub users ..."
            [(ngModel)]="searchQuery"
            (keydown.enter)="submit()">
     <button type="submit"
             [disabled]="!searchQuery"
             class="search-form__button"
             (click)="submit()">
          <ghs-icon icon="search"
                    [size]="30"></ghs-icon>
     </button>
</div>

<button *ngIf="!advancedSearchOpen"
        type="button"
        class="avanced-search__button"
        (click)="openAdvancedSearch()">
     <ghs-icon icon="settings"
               [size]="18"></ghs-icon> Advanced search
</button>

<ghs-advanced-search *ngIf="advancedSearchOpen"></ghs-advanced-search>