@import 'styles/functions';

@import '~@angular/cdk/overlay-prebuilt';

@import 'styles/reset';
@import 'styles/forms';


html,
body {
    min-height: 100%;
    font-size: $font-size-base;
}

body {
    background: linear-gradient(to bottom, $color--background, $color--background-alt);
    color: $color--primary;
}

.wrapper {
    max-width: rem(1200);
    margin: 0 auto;
}
