@import 'styles/variables';

@import '~@angular/cdk/overlay-prebuilt';

@import 'styles/reset';


html,
body {
    min-height: 100%;
    font-size: $font-size-base;
}

body {
    background: linear-gradient(to bottom, $color--background, $color--background-alt);
}